<div class = "albumListing">

<div id = "user">
	<table>
		<tr>
			<td>Hi <b><%= session[:current_user] %> </b></td>
			<td><%= link_to "logout", logout_path %></td>
		</tr>
	</table>
</div>

	<br />

	<div><h1>Listing Albums</h1></div>
	
	<table>
		<tr class = "headers">
		  <th class = "first">Name</th>
		  <th>User</th>
		  <th></th>
		  <th></th>
		  <th></th>
		</tr>
		
	<% current_user.albums.each do |album| %>
		<tr class = "albums">
		  <td class = "first"><%= album.name %></td>
		  <td><%= album.user.username %></td>
		  <td class = "link"><%= link_to 'Show', album %></td>
			<td class = "link"><%= link_to 'Edit', edit_album_path(album) %></td>
			<td class = "link"><%= link_to 'Destroy', album, confirm: 'Are you sure?', method: :delete %></td>
		</tr>
	<% end %>

	</table>

	<br />
	<%= link_to 'New Album', new_album_path %>
</div>
